@import '~ng-tournament-tree/styles/ngtt-variables';

.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: $ngtt-match-wrapper-width;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 15%);
  border-radius: 6px;
}

.ngtt__team-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  padding: 12px 6px;
  align-items: center;
}

.ngtt__team-title {
  margin-left: 12px;
  font-weight: normal;
  font-size: 1.2rem;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
