@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* anchor */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}


/* Flexbox */

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-spaced {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
  /* Flex grow */

  .flex-grow-1 {
    flex-grow: 1;
  }

  .flex-grow-2 {
    flex-grow: 2;
  }

  .flex-grow-3 {
    flex-grow: 3;
  }

  .flex-grow-4 {
    flex-grow: 4;
  }

  /* Flex Basis */
  .flex-basis-10 {
    flex-basis: 10%
  }

  .flex-basis-20 {
    flex-basis: 20%
  }

  .flex-basis-25 {
    flex-basis: 25%
  }
  
  .flex-basis-30 {
    flex-basis: 30%
  }
  
  .flex-basis-third {
    flex-basis: 33.33%
  }
  
  .flex-basis-40 {
    flex-basis: 40%
  }
  
  .flex-basis-50 {
    flex-basis: 50%
  }

/* Paddings */
.pad-1 {
  padding: 0.8rem;
}

.pad-2 {
  padding: 1.5rem;
}

.pad-3 {
  padding: 2rem;
}

.pad-4 {
  padding: 2.5rem;
}

  /* x */
    .padx-1 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .padx-2 {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }

    .padx-3 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .padx-4 {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .padx-5 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  /* y */
    .pady-1 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .pady-2 {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }

    .pady-3 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .pady-4 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }


/* Margins */
.mar-auto {
  margin: auto;
}
.mar-0 {
  margin: 0;
}

.marr-1 {
  margin-right: 0.5rem;
}

  /* x */
  .marx-1 {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .marx-2 {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .marx-3 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .marx-4 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  /* y */
  .mary-1 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .mary-2 {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  .mary-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mary-4 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  /* Bottom */

  .marb-0 {
    margin-bottom: 0;
  }

  /* Top */

  .mart-0 {
    margin-top: 0;
  }
/* cursors */
.cursor-pointer {
  cursor: pointer
}

/* box */
.border-box {
  box-sizing: border-box
}

/*fixed top */

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

/* Container */

.container {
  max-width: 1380px;
  margin: auto;
}

/* widths */
.width-100 {
  width: 100%
}

.width-90 {
  width: 90%
}

.width-80{
  width: 80%
}

.width-70 {
  width: 70%
}

.width-60 {
  width: 60%
}

.width-50 {
  width: 50%
}

/* Positions */

.pos-relative {
  position: relative;
}

/* Text */

.muted {
  font-size: 0.8rem;
  color: #a7a7a7;
}

.center {
  text-align: center;
}


/* Overflow */

.hidden {
  overflow: hidden;
}

  /* Y */
  .overflowy-hidden {
    overflow-y: hidden
  }

  .overflowy-scroll {
    overflow-y: scroll
  }

  .overflowy-auto {
    overflow-y: hidden
  }